TrimFuel.Business/Web References/ABFApi/Contracts.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.JOI.com/schemas/ViaSub.WMS/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.JOI.com/schemas/ViaSub.WMS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.JOI.com/schemas/ViaSub.WMS/">
      <s:element name="extLoginData" type="tns:ExternalLoginData" />
      <s:complexType name="ExternalLoginData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ThreePLKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FacilityID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="orders" type="tns:ArrayOfOrder" />
      <s:complexType name="ArrayOfOrder">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Order">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TransInfo" type="tns:TransactionInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="ShipTo" type="tns:ContactInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="ShippingInstructions" type="tns:ShippingInstructions" />
          <s:element minOccurs="0" maxOccurs="1" name="ShipmentInfo" type="tns:ShipmentInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PalletCount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderLineItems" type="tns:ArrayOfOrderLineItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransactionInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceNum" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EarliestShipDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ShipCancelDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ContactInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="tns:Address" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailAddress1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Vendor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dept" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RetailerID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Address">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ShippingInstructions">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Carrier" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillingCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ShipmentInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="NumUnits1" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="NumUnits1TypeID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NumUnits1TypeDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NumUnits2" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="NumUnits2TypeID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NumUnits2TypeDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalWeight" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalVolume" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOrderLineItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderLineItem" type="tns:OrderLineItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderLineItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SKU" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Qualifier" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Qty" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Packed" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="CuFtPerCarton" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="LotNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SerialNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpirationDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="warnings" type="s:string" />
      <s:element name="Int32" type="s:int" />
      <s:element name="updateOrders" type="tns:ArrayOfUpdateOrder" />
      <s:complexType name="ArrayOfUpdateOrder">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UpdateOrder" nillable="true" type="tns:UpdateOrder" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UpdateOrder">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="WarehouseTransactionID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BillOfLading" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TrackingNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ConfirmationDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="userLoginData" nillable="true" type="tns:UserLoginData" />
      <s:complexType name="UserLoginData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ThreePLID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReportRetailersResult" type="tns:ArrayOfRetailer" />
      <s:complexType name="ArrayOfRetailer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Retailer" nillable="true" type="tns:Retailer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Retailer">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RetailerID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RetailerNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="focr" nillable="true" type="tns:FindOrderCriteria" />
      <s:complexType name="FindOrderCriteria">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FacilityID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RetailerID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MarkForListID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderFtpID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NoteContains" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OverAlloc" type="tns:FindTriStateType" />
          <s:element minOccurs="1" maxOccurs="1" name="Closed" type="tns:FindTriStateType" />
          <s:element minOccurs="1" maxOccurs="1" name="ASNSent" type="tns:FindTriStateType" />
          <s:element minOccurs="1" maxOccurs="1" name="RouteSent" type="tns:FindTriStateType" />
          <s:element minOccurs="0" maxOccurs="1" name="BeginDate" type="tns:I18nDateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="EndDate" type="tns:I18nDateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DateRangeType" type="tns:FindOrderDateRangeType" />
          <s:element minOccurs="1" maxOccurs="1" name="BeginTrans" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EndTrans" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MasterBOLID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="FindTriStateType">
        <s:restriction base="s:string">
          <s:enumeration value="Exclude" />
          <s:enumeration value="IncludeOnly" />
          <s:enumeration value="Any" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="I18nDateTime">
        <s:simpleContent>
          <s:extension base="s:dateTime" />
        </s:simpleContent>
      </s:complexType>
      <s:simpleType name="FindOrderDateRangeType">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Create" />
          <s:enumeration value="Confirm" />
          <s:enumeration value="ASNSent" />
          <s:enumeration value="Pickup" />
        </s:restriction>
      </s:simpleType>
      <s:element name="limitCount" type="s:int" />
      <s:element name="FindOrders" type="s:string" />
      <s:element name="totalOrders" type="s:int" />
      <s:element name="string" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateOrdersSoapIn">
    <wsdl:part name="extLoginData" element="tns:extLoginData" />
    <wsdl:part name="orders" element="tns:orders" />
    <wsdl:part name="warnings" element="tns:warnings" />
  </wsdl:message>
  <wsdl:message name="CreateOrdersSoapOut">
    <wsdl:part name="CreateOrdersResult" element="tns:Int32" />
    <wsdl:part name="warnings" element="tns:warnings" />
  </wsdl:message>
  <wsdl:message name="UpdateOrdersSoapIn">
    <wsdl:part name="extLoginData" element="tns:extLoginData" />
    <wsdl:part name="updateOrders" element="tns:updateOrders" />
    <wsdl:part name="warnings" element="tns:warnings" />
  </wsdl:message>
  <wsdl:message name="UpdateOrdersSoapOut">
    <wsdl:part name="UpdateOrdersResult" element="tns:Int32" />
    <wsdl:part name="warnings" element="tns:warnings" />
  </wsdl:message>
  <wsdl:message name="ReportRetailersSoapIn">
    <wsdl:part name="userLoginData" element="tns:userLoginData" />
  </wsdl:message>
  <wsdl:message name="ReportRetailersSoapOut">
    <wsdl:part name="ReportRetailersResult" element="tns:ReportRetailersResult" />
  </wsdl:message>
  <wsdl:message name="FindOrdersSoapIn">
    <wsdl:part name="userLoginData" element="tns:userLoginData" />
    <wsdl:part name="focr" element="tns:focr" />
    <wsdl:part name="limitCount" element="tns:limitCount" />
  </wsdl:message>
  <wsdl:message name="FindOrdersSoapOut">
    <wsdl:part name="FindOrdersResult" element="tns:FindOrders" />
    <wsdl:part name="totalOrders" element="tns:totalOrders" />
  </wsdl:message>
  <wsdl:message name="ReportStockStatusSoapIn">
    <wsdl:part name="userLoginData" element="tns:userLoginData" />
  </wsdl:message>
  <wsdl:message name="ReportStockStatusSoapOut">
    <wsdl:part name="ReportStockStatusResult" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="ServiceExternalSoap">
    <wsdl:operation name="CreateOrders">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Create Orders</wsdl:documentation>
      <wsdl:input message="tns:CreateOrdersSoapIn" />
      <wsdl:output message="tns:CreateOrdersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrders">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update Orders</wsdl:documentation>
      <wsdl:input message="tns:UpdateOrdersSoapIn" />
      <wsdl:output message="tns:UpdateOrdersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReportRetailers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Report all Retailers for a customer</wsdl:documentation>
      <wsdl:input message="tns:ReportRetailersSoapIn" />
      <wsdl:output message="tns:ReportRetailersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindOrders">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Find Order records for given 'find' parameters</wsdl:documentation>
      <wsdl:input message="tns:FindOrdersSoapIn" />
      <wsdl:output message="tns:FindOrdersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReportStockStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Report stockstatus for a customer</wsdl:documentation>
      <wsdl:input message="tns:ReportStockStatusSoapIn" />
      <wsdl:output message="tns:ReportStockStatusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceExternalSoap" type="tns:ServiceExternalSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateOrders">
      <soap:operation soapAction="http://www.JOI.com/schemas/ViaSub.WMS/CreateOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrders">
      <soap:operation soapAction="http://www.JOI.com/schemas/ViaSub.WMS/UpdateOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportRetailers">
      <soap:operation soapAction="http://www.JOI.com/schemas/ViaSub.WMS/ReportRetailers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindOrders">
      <soap:operation soapAction="http://www.JOI.com/schemas/ViaSub.WMS/FindOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportStockStatus">
      <soap:operation soapAction="http://www.JOI.com/schemas/ViaSub.WMS/ReportStockStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceExternalSoap12" type="tns:ServiceExternalSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateOrders">
      <soap12:operation soapAction="http://www.JOI.com/schemas/ViaSub.WMS/CreateOrders" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrders">
      <soap12:operation soapAction="http://www.JOI.com/schemas/ViaSub.WMS/UpdateOrders" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportRetailers">
      <soap12:operation soapAction="http://www.JOI.com/schemas/ViaSub.WMS/ReportRetailers" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindOrders">
      <soap12:operation soapAction="http://www.JOI.com/schemas/ViaSub.WMS/FindOrders" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportStockStatus">
      <soap12:operation soapAction="http://www.JOI.com/schemas/ViaSub.WMS/ReportStockStatus" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceExternal">
    <wsdl:port name="ServiceExternalSoap" binding="tns:ServiceExternalSoap">
      <soap:address location="https://app02.3plcentral.com/WebServiceExternal/Contracts.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceExternalSoap12" binding="tns:ServiceExternalSoap12">
      <soap12:address location="https://app02.3plcentral.com/WebServiceExternal/Contracts.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>