Test/RemoteWSTest/Web References/com.securetrialoffers.www/SaleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://www.securetrialoffers.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="https://www.securetrialoffers.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://www.securetrialoffers.com/">
      <s:element name="CreateRegistration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="campaignID" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="createDT" nillable="true" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="affiliate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subAffiliate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateRegistrationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateRegistrationResult" nillable="true" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRegistration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="registrationID" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="campaignID" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="createDT" nillable="true" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="affiliate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subAffiliate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRegistrationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateRegistrationResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateBilling">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="campaignID" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="registrationID" nillable="true" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="creditCard" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cvv" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="paymentTypeID" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="expMonth" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="expYear" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="address1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="createDT" nillable="true" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="affiliate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subAffiliate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateBillingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateBillingResult" nillable="true" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateBilling">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="billingID" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="campaignID" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="registrationID" nillable="true" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="creditCard" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cvv" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="paymentTypeID" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="expMonth" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="expYear" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="address1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="createDT" nillable="true" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="affiliate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subAffiliate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateBillingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateBillingResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssignPlan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="billingSubscriptionID" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="billingID" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="subscriptionID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssignPlanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AssignPlanResult" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoRefund">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="billingID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoRefundResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoRefundResult" type="tns:BusinessErrorOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BusinessErrorOfBoolean">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnValue" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="State" type="tns:BusinessErrorState" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="BusinessErrorState">
        <s:restriction base="s:string">
          <s:enumeration value="Success" />
          <s:enumeration value="Error" />
        </s:restriction>
      </s:simpleType>
      <s:element name="RemoveRefundRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="billingID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveRefundRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RemoveRefundRequestResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateBillingSale">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="billingID" nillable="true" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="registrationID" nillable="true" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="paymentTypeID" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="creditCard" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cvv" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="expMonth" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="expYear" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="campaignID" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="affiliate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subAffiliate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="partnerClickClickID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isSpecialOffer" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="couponID" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="subscriptionID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateBillingSaleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateBillingSaleResult" type="tns:BusinessErrorOfSetOfRegistrationBilling" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BusinessErrorOfSetOfRegistrationBilling">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ReturnValue" type="tns:SetOfRegistrationBilling" />
          <s:element minOccurs="1" maxOccurs="1" name="State" type="tns:BusinessErrorState" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SetOfRegistrationBilling">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Value1" type="tns:Registration" />
          <s:element minOccurs="0" maxOccurs="1" name="Value2" type="tns:Billing" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Registration">
        <s:complexContent mixed="false">
          <s:extension base="tns:Entity">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="RegistrationID" nillable="true" type="s:long" />
              <s:element minOccurs="1" maxOccurs="1" name="CampaignID" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CreateDT" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="Affiliate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SubAffiliate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="URL" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Entity" abstract="true" />
      <s:complexType name="Billing">
        <s:complexContent mixed="false">
          <s:extension base="tns:Entity">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="BillingID" nillable="true" type="s:long" />
              <s:element minOccurs="1" maxOccurs="1" name="CampaignID" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="RegistrationID" nillable="true" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CreditCard" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CVV" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="PaymentTypeID" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ExpMonth" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ExpYear" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CreateDT" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="Affiliate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SubAffiliate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="URL" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="CreateUpsellSale">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="billingID" nillable="true" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="registrationID" nillable="true" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="paymentTypeID" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="creditCard" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cvv" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="expMonth" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="expYear" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="campaignID" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="affiliate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subAffiliate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="partnerClickClickID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="couponID" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="upsellTypeID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUpsellSaleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateUpsellSaleResult" type="tns:BusinessErrorOfSetOfRegistrationBilling" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateComplexSale">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="parentBillingID" nillable="true" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="paymentTypeID" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="creditCard" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cvv" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="expMonth" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="expYear" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="campaignID" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="affiliate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subAffiliate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="partnerClickClickID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isSpecialOffer" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="couponID" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="subscriptions" type="tns:ArrayOfKeyValuePairOfInt32Int32" />
            <s:element minOccurs="0" maxOccurs="1" name="upsellTypes" type="tns:ArrayOfKeyValuePairOfInt32Int32" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfKeyValuePairOfInt32Int32">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfInt32Int32" type="tns:KeyValuePairOfInt32Int32" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="KeyValuePairOfInt32Int32" />
      <s:element name="CreateComplexSaleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateComplexSaleResult" type="tns:BusinessErrorOfComplexSaleView" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BusinessErrorOfComplexSaleView">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ReturnValue" type="tns:ComplexSaleView" />
          <s:element minOccurs="1" maxOccurs="1" name="State" type="tns:BusinessErrorState" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ComplexSaleView">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityView">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="AssertigyMID" type="tns:AssertigyMID" />
              <s:element minOccurs="0" maxOccurs="1" name="Registration" type="tns:Registration" />
              <s:element minOccurs="0" maxOccurs="1" name="ParentBilling" type="tns:Billing" />
              <s:element minOccurs="0" maxOccurs="1" name="Coupon" type="tns:Coupon" />
              <s:element minOccurs="0" maxOccurs="1" name="BillingSales" type="tns:ArrayOfSetOfBillingSaleBillingSubscriptionSubscription" />
              <s:element minOccurs="0" maxOccurs="1" name="UpsellSales" type="tns:ArrayOfSetOfUpsellSaleBillingSubscriptionUpsellUpsellType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityView" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:Entity" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AssertigyMID">
        <s:complexContent mixed="false">
          <s:extension base="tns:Entity">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="AssertigyMIDID" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="MID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ParentMID" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="MonthlyCap" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="ProcessingRate" nillable="true" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="ReserveAccountRate" nillable="true" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="ChargebackFee" nillable="true" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="Visible" nillable="true" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Coupon">
        <s:complexContent mixed="false">
          <s:extension base="tns:Entity">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="CouponID" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ProductID" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Discount" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="NewPrice" nillable="true" type="s:decimal" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfSetOfBillingSaleBillingSubscriptionSubscription">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SetOfBillingSaleBillingSubscriptionSubscription" nillable="true" type="tns:SetOfBillingSaleBillingSubscriptionSubscription" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SetOfBillingSaleBillingSubscriptionSubscription">
        <s:complexContent mixed="false">
          <s:extension base="tns:SetOfBillingSaleBillingSubscription">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Value3" type="tns:Subscription" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SetOfBillingSaleBillingSubscription">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Value1" type="tns:BillingSale" />
          <s:element minOccurs="0" maxOccurs="1" name="Value2" type="tns:BillingSubscription" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BillingSale">
        <s:complexContent mixed="false">
          <s:extension base="tns:Sale">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="BillingSubscriptionID" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ChargeHistoryID" nillable="true" type="s:long" />
              <s:element minOccurs="1" maxOccurs="1" name="PaygeaID" nillable="true" type="s:long" />
              <s:element minOccurs="1" maxOccurs="1" name="RebillCycle" nillable="true" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Sale">
        <s:complexContent mixed="false">
          <s:extension base="tns:Entity">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="SaleID" nillable="true" type="s:long" />
              <s:element minOccurs="1" maxOccurs="1" name="SaleTypeID" nillable="true" type="s:short" />
              <s:element minOccurs="0" maxOccurs="1" name="TrackingNumber" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CreateDT" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="NotShip" nillable="true" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="UpsellSale">
        <s:complexContent mixed="false">
          <s:extension base="tns:Sale">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="UpsellID" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ChargeHistoryID" nillable="true" type="s:long" />
              <s:element minOccurs="1" maxOccurs="1" name="PaygeaID" nillable="true" type="s:long" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BillingSubscription">
        <s:complexContent mixed="false">
          <s:extension base="tns:Entity">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="BillingSubscriptionID" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="BillingID" nillable="true" type="s:long" />
              <s:element minOccurs="1" maxOccurs="1" name="SubscriptionID" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CreateDT" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="StatusTID" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="LastBillDate" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="NextBillDate" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="SKU" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CustomerReferenceNumber" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Subscription">
        <s:complexContent mixed="false">
          <s:extension base="tns:Entity">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="SubscriptionID" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ParentSubscriptionID" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="InitialInterim" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="InitialShipping" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="SaveShipping" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="SaveBilling" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="InitialBillAmount" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="SecondInterim" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="SecondShipping" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="SecondBillAmount" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="RegularInterim" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="RegularShipping" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="RegularBillAmount" nillable="true" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="ProductCode" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Selectable" nillable="true" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="Quantity" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ProductID" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Recurring" nillable="true" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="ShipFirstRebill" nillable="true" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="SKU2" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TrialText" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RecurText" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SaveText" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UpsellText" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ReplacementText" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ReplacementTrialText" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfSetOfUpsellSaleBillingSubscriptionUpsellUpsellType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SetOfUpsellSaleBillingSubscriptionUpsellUpsellType" nillable="true" type="tns:SetOfUpsellSaleBillingSubscriptionUpsellUpsellType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SetOfUpsellSaleBillingSubscriptionUpsellUpsellType">
        <s:complexContent mixed="false">
          <s:extension base="tns:SetOfUpsellSaleBillingSubscriptionUpsell">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Value4" type="tns:UpsellType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SetOfUpsellSaleBillingSubscriptionUpsell">
        <s:complexContent mixed="false">
          <s:extension base="tns:SetOfUpsellSaleBillingSubscription">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Value3" type="tns:Upsell" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SetOfUpsellSaleBillingSubscription">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Value1" type="tns:UpsellSale" />
          <s:element minOccurs="0" maxOccurs="1" name="Value2" type="tns:BillingSubscription" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Upsell">
        <s:complexContent mixed="false">
          <s:extension base="tns:Entity">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="UpsellID" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="BillingID" nillable="true" type="s:long" />
              <s:element minOccurs="1" maxOccurs="1" name="Quantity" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="ProductCode" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CreateDT" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="Complete" nillable="true" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="UpsellTypeID" nillable="true" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="UpsellType">
        <s:complexContent mixed="false">
          <s:extension base="tns:Entity">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="UpsellTypeID" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="ProductCode" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Price" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="Quantity" nillable="true" type="s:short" />
              <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DropDown" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ProductID" nillable="true" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ValidateCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="billingID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateCustomerResult" type="tns:BusinessErrorOfBillingBadCustomer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BusinessErrorOfBillingBadCustomer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ReturnValue" type="tns:BillingBadCustomer" />
          <s:element minOccurs="1" maxOccurs="1" name="State" type="tns:BusinessErrorState" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BillingBadCustomer">
        <s:complexContent mixed="false">
          <s:extension base="tns:Entity">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="BillingBadCustomerID" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="BillingID" nillable="true" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="TransactionId" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Error" nillable="true" type="s:unsignedByte" />
              <s:element minOccurs="1" maxOccurs="1" name="Found" nillable="true" type="s:unsignedByte" />
              <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Request" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Response" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CreateDT" nillable="true" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateRegistrationSoapIn">
    <wsdl:part name="parameters" element="tns:CreateRegistration" />
  </wsdl:message>
  <wsdl:message name="CreateRegistrationSoapOut">
    <wsdl:part name="parameters" element="tns:CreateRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateRegistrationSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateRegistration" />
  </wsdl:message>
  <wsdl:message name="UpdateRegistrationSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="CreateBillingSoapIn">
    <wsdl:part name="parameters" element="tns:CreateBilling" />
  </wsdl:message>
  <wsdl:message name="CreateBillingSoapOut">
    <wsdl:part name="parameters" element="tns:CreateBillingResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateBillingSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateBilling" />
  </wsdl:message>
  <wsdl:message name="UpdateBillingSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateBillingResponse" />
  </wsdl:message>
  <wsdl:message name="AssignPlanSoapIn">
    <wsdl:part name="parameters" element="tns:AssignPlan" />
  </wsdl:message>
  <wsdl:message name="AssignPlanSoapOut">
    <wsdl:part name="parameters" element="tns:AssignPlanResponse" />
  </wsdl:message>
  <wsdl:message name="DoRefundSoapIn">
    <wsdl:part name="parameters" element="tns:DoRefund" />
  </wsdl:message>
  <wsdl:message name="DoRefundSoapOut">
    <wsdl:part name="parameters" element="tns:DoRefundResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveRefundRequestSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveRefundRequest" />
  </wsdl:message>
  <wsdl:message name="RemoveRefundRequestSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveRefundRequestResponse" />
  </wsdl:message>
  <wsdl:message name="CreateBillingSaleSoapIn">
    <wsdl:part name="parameters" element="tns:CreateBillingSale" />
  </wsdl:message>
  <wsdl:message name="CreateBillingSaleSoapOut">
    <wsdl:part name="parameters" element="tns:CreateBillingSaleResponse" />
  </wsdl:message>
  <wsdl:message name="CreateUpsellSaleSoapIn">
    <wsdl:part name="parameters" element="tns:CreateUpsellSale" />
  </wsdl:message>
  <wsdl:message name="CreateUpsellSaleSoapOut">
    <wsdl:part name="parameters" element="tns:CreateUpsellSaleResponse" />
  </wsdl:message>
  <wsdl:message name="CreateComplexSaleSoapIn">
    <wsdl:part name="parameters" element="tns:CreateComplexSale" />
  </wsdl:message>
  <wsdl:message name="CreateComplexSaleSoapOut">
    <wsdl:part name="parameters" element="tns:CreateComplexSaleResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateCustomer" />
  </wsdl:message>
  <wsdl:message name="ValidateCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateCustomerResponse" />
  </wsdl:message>
  <wsdl:portType name="SaleService_Soap">
    <wsdl:operation name="CreateRegistration">
      <wsdl:input message="tns:CreateRegistrationSoapIn" />
      <wsdl:output message="tns:CreateRegistrationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRegistration">
      <wsdl:input message="tns:UpdateRegistrationSoapIn" />
      <wsdl:output message="tns:UpdateRegistrationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateBilling">
      <wsdl:input message="tns:CreateBillingSoapIn" />
      <wsdl:output message="tns:CreateBillingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBilling">
      <wsdl:input message="tns:UpdateBillingSoapIn" />
      <wsdl:output message="tns:UpdateBillingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AssignPlan">
      <wsdl:input message="tns:AssignPlanSoapIn" />
      <wsdl:output message="tns:AssignPlanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoRefund">
      <wsdl:input message="tns:DoRefundSoapIn" />
      <wsdl:output message="tns:DoRefundSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveRefundRequest">
      <wsdl:input message="tns:RemoveRefundRequestSoapIn" />
      <wsdl:output message="tns:RemoveRefundRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateBillingSale">
      <wsdl:input message="tns:CreateBillingSaleSoapIn" />
      <wsdl:output message="tns:CreateBillingSaleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateUpsellSale">
      <wsdl:input message="tns:CreateUpsellSaleSoapIn" />
      <wsdl:output message="tns:CreateUpsellSaleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateComplexSale">
      <wsdl:input message="tns:CreateComplexSaleSoapIn" />
      <wsdl:output message="tns:CreateComplexSaleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateCustomer">
      <wsdl:input message="tns:ValidateCustomerSoapIn" />
      <wsdl:output message="tns:ValidateCustomerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SaleService_Soap" type="tns:SaleService_Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateRegistration">
      <soap:operation soapAction="https://www.securetrialoffers.com/CreateRegistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRegistration">
      <soap:operation soapAction="https://www.securetrialoffers.com/UpdateRegistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBilling">
      <soap:operation soapAction="https://www.securetrialoffers.com/CreateBilling" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBilling">
      <soap:operation soapAction="https://www.securetrialoffers.com/UpdateBilling" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignPlan">
      <soap:operation soapAction="https://www.securetrialoffers.com/AssignPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoRefund">
      <soap:operation soapAction="https://www.securetrialoffers.com/DoRefund" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveRefundRequest">
      <soap:operation soapAction="https://www.securetrialoffers.com/RemoveRefundRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBillingSale">
      <soap:operation soapAction="https://www.securetrialoffers.com/CreateBillingSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUpsellSale">
      <soap:operation soapAction="https://www.securetrialoffers.com/CreateUpsellSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateComplexSale">
      <soap:operation soapAction="https://www.securetrialoffers.com/CreateComplexSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateCustomer">
      <soap:operation soapAction="https://www.securetrialoffers.com/ValidateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SaleService_Soap12" type="tns:SaleService_Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateRegistration">
      <soap12:operation soapAction="https://www.securetrialoffers.com/CreateRegistration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRegistration">
      <soap12:operation soapAction="https://www.securetrialoffers.com/UpdateRegistration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBilling">
      <soap12:operation soapAction="https://www.securetrialoffers.com/CreateBilling" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBilling">
      <soap12:operation soapAction="https://www.securetrialoffers.com/UpdateBilling" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignPlan">
      <soap12:operation soapAction="https://www.securetrialoffers.com/AssignPlan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoRefund">
      <soap12:operation soapAction="https://www.securetrialoffers.com/DoRefund" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveRefundRequest">
      <soap12:operation soapAction="https://www.securetrialoffers.com/RemoveRefundRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBillingSale">
      <soap12:operation soapAction="https://www.securetrialoffers.com/CreateBillingSale" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUpsellSale">
      <soap12:operation soapAction="https://www.securetrialoffers.com/CreateUpsellSale" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateComplexSale">
      <soap12:operation soapAction="https://www.securetrialoffers.com/CreateComplexSale" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateCustomer">
      <soap12:operation soapAction="https://www.securetrialoffers.com/ValidateCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SaleService_">
    <wsdl:port name="SaleService_Soap" binding="tns:SaleService_Soap">
      <soap:address location="https://www.securetrialoffers.com/WS/SaleService.asmx" />
    </wsdl:port>
    <wsdl:port name="SaleService_Soap12" binding="tns:SaleService_Soap12">
      <soap12:address location="https://www.securetrialoffers.com/WS/SaleService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>