TrimFuel.Business/Web References/MBApi/api.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://api.moldingbox.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://api.moldingbox.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://api.moldingbox.com/">
      <s:element name="Post_Shipment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ApiKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Shipments" type="tns:ArrayOfShipment" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfShipment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Shipment" nillable="true" type="tns:Shipment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Shipment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OrderID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Orderdate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ShippingMethodID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CODAmount" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Custom1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Custom2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Custom3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Custom4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Custom5" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Custom6" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Items" type="tns:ArrayOfItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Item">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SKU" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Custom1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Custom2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Custom3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Custom4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Custom5" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Custom6" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Post_ShipmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Post_ShipmentResult" type="tns:ArrayOfResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Response" nillable="true" type="tns:Response" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Response">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MBShipmentID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ShipmentData" type="tns:Shipment" />
          <s:element minOccurs="1" maxOccurs="1" name="SuccessfullyReceived" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Custom1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Custom2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Custom3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Custom4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Custom5" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Custom6" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Retrieve_Shipment_Status">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ApiKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MBShipmentIDs" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Retrieve_Shipment_StatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Retrieve_Shipment_StatusResult" type="tns:ArrayOfStatusResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStatusResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="StatusResponse" nillable="true" type="tns:StatusResponse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="StatusResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MBShipmentID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ShipmentStatusID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TrackingNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TrackingURL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LotNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestSuccessfullyReceived" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ShipmentExists" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ShipmentCanceled" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Custom1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Custom2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Custom3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Custom4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Custom5" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Custom6" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Retrieve_Shipping_Methods">
        <s:complexType />
      </s:element>
      <s:element name="Retrieve_Shipping_MethodsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Retrieve_Shipping_MethodsResult" type="tns:ArrayOfShippingMethod" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfShippingMethod">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ShippingMethod" nillable="true" type="tns:ShippingMethod" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ShippingMethod">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Carrier" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Method" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TrackingURL" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Retrieve_Shipment_Status_Types">
        <s:complexType />
      </s:element>
      <s:element name="Retrieve_Shipment_Status_TypesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Retrieve_Shipment_Status_TypesResult" type="tns:ArrayOfStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Status" nillable="true" type="tns:Status" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Status">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Cancel_Shipment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ApiKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MBShipmentIDs" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Cancel_ShipmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Cancel_ShipmentResult" type="tns:ArrayOfStatusResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Post_ShipmentSoapIn">
    <wsdl:part name="parameters" element="tns:Post_Shipment" />
  </wsdl:message>
  <wsdl:message name="Post_ShipmentSoapOut">
    <wsdl:part name="parameters" element="tns:Post_ShipmentResponse" />
  </wsdl:message>
  <wsdl:message name="Retrieve_Shipment_StatusSoapIn">
    <wsdl:part name="parameters" element="tns:Retrieve_Shipment_Status" />
  </wsdl:message>
  <wsdl:message name="Retrieve_Shipment_StatusSoapOut">
    <wsdl:part name="parameters" element="tns:Retrieve_Shipment_StatusResponse" />
  </wsdl:message>
  <wsdl:message name="Retrieve_Shipping_MethodsSoapIn">
    <wsdl:part name="parameters" element="tns:Retrieve_Shipping_Methods" />
  </wsdl:message>
  <wsdl:message name="Retrieve_Shipping_MethodsSoapOut">
    <wsdl:part name="parameters" element="tns:Retrieve_Shipping_MethodsResponse" />
  </wsdl:message>
  <wsdl:message name="Retrieve_Shipment_Status_TypesSoapIn">
    <wsdl:part name="parameters" element="tns:Retrieve_Shipment_Status_Types" />
  </wsdl:message>
  <wsdl:message name="Retrieve_Shipment_Status_TypesSoapOut">
    <wsdl:part name="parameters" element="tns:Retrieve_Shipment_Status_TypesResponse" />
  </wsdl:message>
  <wsdl:message name="Cancel_ShipmentSoapIn">
    <wsdl:part name="parameters" element="tns:Cancel_Shipment" />
  </wsdl:message>
  <wsdl:message name="Cancel_ShipmentSoapOut">
    <wsdl:part name="parameters" element="tns:Cancel_ShipmentResponse" />
  </wsdl:message>
  <wsdl:portType name="MBAPISoap">
    <wsdl:operation name="Post_Shipment">
      <wsdl:input message="tns:Post_ShipmentSoapIn" />
      <wsdl:output message="tns:Post_ShipmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Retrieve_Shipment_Status">
      <wsdl:input message="tns:Retrieve_Shipment_StatusSoapIn" />
      <wsdl:output message="tns:Retrieve_Shipment_StatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Retrieve_Shipping_Methods">
      <wsdl:input message="tns:Retrieve_Shipping_MethodsSoapIn" />
      <wsdl:output message="tns:Retrieve_Shipping_MethodsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Retrieve_Shipment_Status_Types">
      <wsdl:input message="tns:Retrieve_Shipment_Status_TypesSoapIn" />
      <wsdl:output message="tns:Retrieve_Shipment_Status_TypesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Cancel_Shipment">
      <wsdl:input message="tns:Cancel_ShipmentSoapIn" />
      <wsdl:output message="tns:Cancel_ShipmentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MBAPISoap" type="tns:MBAPISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Post_Shipment">
      <soap:operation soapAction="http://api.moldingbox.com/Post_Shipment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retrieve_Shipment_Status">
      <soap:operation soapAction="http://api.moldingbox.com/Retrieve_Shipment_Status" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retrieve_Shipping_Methods">
      <soap:operation soapAction="http://api.moldingbox.com/Retrieve_Shipping_Methods" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retrieve_Shipment_Status_Types">
      <soap:operation soapAction="http://api.moldingbox.com/Retrieve_Shipment_Status_Types" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cancel_Shipment">
      <soap:operation soapAction="http://api.moldingbox.com/Cancel_Shipment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MBAPISoap12" type="tns:MBAPISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Post_Shipment">
      <soap12:operation soapAction="http://api.moldingbox.com/Post_Shipment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retrieve_Shipment_Status">
      <soap12:operation soapAction="http://api.moldingbox.com/Retrieve_Shipment_Status" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retrieve_Shipping_Methods">
      <soap12:operation soapAction="http://api.moldingbox.com/Retrieve_Shipping_Methods" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retrieve_Shipment_Status_Types">
      <soap12:operation soapAction="http://api.moldingbox.com/Retrieve_Shipment_Status_Types" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cancel_Shipment">
      <soap12:operation soapAction="http://api.moldingbox.com/Cancel_Shipment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MBAPI">
    <wsdl:port name="MBAPISoap" binding="tns:MBAPISoap">
      <soap:address location="http://api.moldingbox.com/api.asmx" />
    </wsdl:port>
    <wsdl:port name="MBAPISoap12" binding="tns:MBAPISoap12">
      <soap12:address location="http://api.moldingbox.com/api.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>